body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    background-image: url("/images/react-logo.svg");
    background-color: rgb(31,37,53);
    height: 100vh;   
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin-left: 3em;
}

h1 {
    color: #ffffff;
    font-size: 5em;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 3em;
    margin-top: 12em;
    width: 30em;
}

.container p {
    color: #576574;
    font-size: 1.5em;
   
}

button {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    width: 9em;
    height: 4em;
    color: rgb(31,37,53);
    font-weight: 700;
    font-size: 1em;
    border-radius: 0.4em;
}

.articles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    
}
article {
    width: 11em;
    height: 10em;
    margin-left: 3em;
}
.articles img {
    width: 7em;
}

article p {
    color: #576574;
    font-size: 1em;
}

h3 {
    color: rgb(31,37,53);
}
